@use 'fonts';

h1{
    font-size: 40px;
    font-weight: fonts.$bold;
}
.card {
    width: 100%;

    &__introduction{
        display: flex;
        justify-content: space-between;

        &_left{
            max-width: 640px;
        }

        &_right {
            width: 25%;
            align-self: flex-end;

            hr{
                float:left;
                width: 2vw;
                margin: 0;
            }
        }
    }
}