@use 'fonts';

@import 'navigation';
@import 'content';

body {
    font-family: fonts.$main-font;
    color: fonts.$main-colour;
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows:  0.1fr 2.8fr 0.1fr;
}

header {
    grid-area: 1/2/2/3;
    font-weight: fonts.$bold;
    font-size: 18px;
}

main {
    grid-area: 2/2/3/3;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: 3/2/4/3;
    font-weight: fonts.$bold;
    font-size: 18px;

}

.emphasis {
    color: fonts.$emphasis-colour;
}